<div class="dashboard-home-section">
    <div class="dashboard-welcome-banner">
        Welcome {{user.firstName}}!
    </div>
    <div class="dashboard-home-section-left">
        <div class="dashboard-home-section-left-upper">
            <div class="dashboard-user-events-section">
                <app-user-events></app-user-events>
            </div>
        </div>
        <div class="dashboard-home-section-left-lower">
            <div class="dashboard-user-events-section">
                <app-user-events></app-user-events>
            </div>
        </div>
    </div>
    <div class="dashboard-home-section-right">
        <div class="dashboard-user-profile-section">
            <div class="dashboard-user-profile-icon-section">
                <img class="dashboard-user-profile-icon" src="/assets/bookingAppLogoDefault.png" />
            </div>
            <div class="dashboard-user-profile-info-section">
                <h2>Daras Johnson</h2>
                <h2>Hometown: Atlanta, GA</h2>
            </div>
        </div>
    </div>
</div>