<div mat-dialog-title>
    <h1>Create Event:</h1>
</div>
<form [formGroup]="eventForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Event Name</mat-label>
                <input matInput type="text" placeholder="Ex. New Faces 2023" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Location</mat-label>
                <input matInput placeholder="Ex. Friends on Ponce" formControlName="location">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Date</mat-label>
                <input matInput placeholder="Ex. 07/13/2023" formControlName="date">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
</form>
