html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

body {
  min-height: 100vh;
}

app-root {
  display: block;
  min-height: 100vh;
}

.main-page {
    min-height: 100vh;
    overflow-y: auto;
}