<nav class="navbar-section">
    <div class="navbar-logo-section">
        <a class="navbar-brand" routerLink="./home">
            <img class="navbar-logo" src="assets/bookingAppNavbarLogo.png" >
            <span>Booking App</span>
        </a>
    </div>
    <div class="navbar-menu-items">
        <ul class="navbar-nav ml-auto menu-items">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="./home">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="./events">Events</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="./messages">Messages</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="./settings">Settings</a>
            </li>
        </ul>
    </div>
    <div class="navbar-logout-section">
        <button class="btn btn-danger btn-logout" (click)="logout()">Logout</button>
    </div>
</nav>