<div mat-dialog-title>
    <h1>{{ event.name }}</h1>
</div>

<div mat-dialog-content class="content">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <h2>Event Location:</h2>
                </td>
                <td>
                    <p>{{ event.location }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Event Date:</h2>
                </td>
                <td>
                    <p>{{ event.date }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Status:</h2>
                </td>
                <td>
                    <p class="text-danger" *ngIf="!event.active">Cancelled</p>
                    <p class="text-success"*ngIf="event.active">Active</p>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Event Performers:</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Performer</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let performer of event.performers">
                <td>{{ performer }}</td>
                <td>
                    <button class="btn btn-danger"(click)="removePerformer(performer)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Requesting Performers:</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Performer</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let performer of event.requestedPerformers">
                <td>{{ performer }}</td>
                <td>
                    <button class="btn btn-success"(click)="approvePerformer(performer)">Approve</button>
                </td>
                <td>
                    <button class="btn btn-danger"(click)="denyPerformer(performer)">Deny</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-danger" *ngIf="event.active" (click)="cancelEvent()">Cancel this Event</button>
        <button class="btn btn-success" *ngIf="!event.active" (click)="activateEvent()">Re-activate this Event</button>
        <button class="btn btn-primary">Edit</button>
    </div>
</div>
