<div class="header-bar">
    <div class="header-logo-section">
        <img class="header-logo-image"src="assets/bookingAppNavbarLogo.png">
        <span class="header-logo-text">Booking App</span>
    </div>
</div>
<div class="main-section">
    <div class="container h-100 section-art">
        <img src="assets/loginScreenArt.png">
    </div>
    <div class="container section-login">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow w-50 h-50">
            <div class="card-body px-5">
                <div class="text-center">
                    <h2>Welcome</h2>
                </div>
                <p style="color: lightslategray; text-align: center;">
                    Please enter your login details
                </p>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div id="txtEmail" class="form-group">
                        <input type="text" id="userName" placeholder="UserName" class="form-control" formControlName="userName"
                            name="userName" />
                    </div>
                    <div id="txtPassword" class="form-group">
                        <input type="password" id="password" placeholder="Password" class="form-control"
                            formControlName="password" name="password" />
                    </div>
                    <input type="submit" class="btn btn-primary w-100" value="Login" name="">
                </form>
                <div *ngIf="getLoginFail()" class="section-error-message">
                    <p class="text-danger">Invalid Login</p>
                </div>
            </div>
            <div class="card-footer text-right">
                <small><a routerLink="../forgot-password">Forgot Password</a></small>
            </div>
        </div>
    </div>
    </div>
</div>