<div class="container pt-4 pb-5 settings-container">
    <div class="settings-page-title">
        Settings
    </div>
    <div class="container main-section"><div class="container pb-5 pt-5">
        <div class="container pb-5">
            <h2 mat-dialog-title>Edit Account Info:</h2>
            <form [formGroup]="accountInfoForm" (ngSubmit)="onAccountInfoFormSubmit()">
                <div mat-dialog-content class="content">
                    <div class="row settings-input">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput type="text" formControlName="firstName" value="{{ user.firstName }}">
                        </mat-form-field>
                    </div>
                    <div class="row settings-input">
                        <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput type="text" formControlName="lastName" value="{{ user.lastName }}">
                        </mat-form-field>
                    </div>
                    <div class="row settings-input">
                        <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="email" value="{{ user.email }}">
                        </mat-form-field>
                    </div>
                    <div class="row settings-input">
                        <mat-form-field appearance="outline">
                        <mat-label>Age</mat-label>
                        <input matInput type="text" formControlName="age" value="{{ user.age }}">
                        </mat-form-field>
                    </div>
                    </div>
                    <div mat-dialog-actions class="action">
                    <button mat-raised-button color="primary" type="submit">Save</button>
                </div>
            </form>
        </div>

        <div class="container pb-5">
        <h2>Change Password:</h2>
            <div mat-dialod-content class="content">
                
                <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit()">
                    <div class="row settings-input">
                        <mat-form-field appearance="outline">
                        <mat-label>Old Password</mat-label>
                        <input matInput type="password" formControlName="oldPassword">
                        </mat-form-field>
                    </div>
                    <div class="row settings-input">
                        <mat-form-field appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input matInput type="password" formControlName="newPassword">
                        </mat-form-field>
                    </div>
                    <div class="row settings-input">
                        <mat-form-field appearance="outline">
                        <mat-label>Confim New Password</mat-label>
                        <input matInput type="password" formControlName="confirmNewPassword">
                        </mat-form-field>
                    </div>
                
                
                
                <div mat-dialog-actions class="action">
                <button mat-raised-button color="primary" type="submit">Save</button>
                </div>
                </form>
            </div>
        </div>

        <div class="container pb-5">
        <h2>Deactivate Account:</h2>
        <button class="btn btn-danger" (click)="openConfirmationDialog()">Deactivate</button>
        </div>
        </div>
    </div>
</div>
