.main-body {
    background-color: white;
    padding-top: 20px;
}

.user-events-title-section {
    font-size: 30px;
    padding-left: 20px;
}

.event-img {
    height: 100px;
    width: 100px;
}

.btn-add-event {
    float: right;
    background-color: #BE3E82;
    color:white;
    font-size: 15px;
}

.btn-details {
    background-color: #8F3985;
}
