<div class="modal-overlay" (click)="close.emit()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h2>{{ event.title }}</h2>
      <p><strong>Date:</strong> {{ event.date | date }}</p>
      <p><strong>Venue:</strong> {{ event.venueID }}</p>
      <p><strong>Description:</strong> {{ event.description }}</p>
      <div *ngIf="performerNames.length > 0">
        <h4>Performers:</h4>
        <ul class="list-disc list-inside ml-2">
          <li *ngFor="let name of performerNames">{{ name }}</li>
        </ul>
      </div>
      <button class="btn btn-close-modal" (click)="close.emit()">Close</button>
    </div>
  </div>
