 <div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="exampleInputEmail1">Username: </label>
              <input type="text" class="form-control" id="txtUserName" aria-describedby="usernameHelp" formControlName="userName" placeholder="Enter username">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password">
            </div>
            <div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Login
                </button>
            </div>
          </form>
    </div>
</div>