<app-host-navbar></app-host-navbar>

<div class="applications-container">
  <div class="applications-title">
    <p>Applications</p>
  </div>
  <div class="applications-subtitle">
    <p>Review and manage pending applications for your gigs</p>
  </div>

  <div class="applications-content">
    <!-- Event Tabs -->
    <div class="event-tabs">
      <button
        *ngFor="let event of events"
        (click)="selectEvent(event.id)"
        [ngClass]="{
          'active': selectedEventId === event.id,
          'inactive': selectedEventId !== event.id
        }">
        {{ event.title }}
      </button>
    </div>

    <div *ngIf="applications.length === 0" class="applications-empty">
      No applications found.
    </div>

    <div class="applications-list">
      <app-application-card *ngFor="let application of applications" [application]="application"></app-application-card>
    </div>
  </div>
 


  

  
</div>